
       
   </div>.image-box { 
    position: relative; 
    overflow: hidden; /* رفع خطای نقطه اضافی */
    border-radius: 10px; 
} 

.image-box img { 
    transition: transform 0.3s; 
} 

.image-box:hover img { 
    transform: scale(1.05); 
}
